@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>ChronoZoom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.css" />
</head>
<body>
    <div id="header">
        <div id="title"></div>
        <div id="timerange"></div>
        <div id="menuButtons">
            <button class="compact ui button default" onclick="Canvas.PanelManager.showTimelinePanel(true)">My Timelines</button>
            <button class="compact ui button default" onclick="Canvas.PanelManager.handleImportPanel()">Import panel</button>
        </div>
    </div>
    <div id="inputPanel" class="inputPanelHidden">
        <h1>Timelines</h1>


        <div class="ui divided list inverted">
            <div class="item">
                <i class="list layout icon"></i>
                <div class="content">
                    <a class="header" href="#" onclick="Canvas.setTimeline('12:1')">Worldwars timeline</a>
                    <div class="description">A timeline about the the first and second worldwar. This timeline has special focus to Anne Frank</div>
                </div>
            </div>
            <div class="item">
                <i class="list layout  icon"></i>
                <div class="content">
                    <a class="header" href="#" onclick="Canvas.setTimeline('12:0')">Musea of the netherlands timeline</a>
                    <div class="description">This timeline is all about the first 400 creators of the Amsterdam museum. Also do these creators show theire work in chornological order.</div>
                </div>
            </div>

        </div>
        <div class="compact ui button green small">
            <i class="icon add"></i>
            Add Timeline
        </div>

        @*<ul>
                <li><a href="#" onclick="Canvas.setTimeline('12:1')">Worldwars timeline</a></li>
                <li><a href="#" onclick="Canvas.setTimeline('12:0')">Musea of the netherlands timeline</a></li>
                <li>
                    <div class="compact ui button green small">
                        <i class="icon add"></i>
                        Add Timeline
                    </div>
                </li>
            </ul>*@
    </div>
    <div id="importPanel" class="importPanelHidden">
        <h1>Add Timeline</h1>
        <div class="ui error inverted form segment">
            <div class="ui error message">
                <div class="header">Not possible</div>
                <p>At this moment it is not possible to add a personal timeline</p>
            </div>
            <div class="field">
                <label>Title</label>
                <input id="titleInput" placeholder="Timeline title" type="text">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Begin date</label>
                    <input id="startDateInput" placeholder="Begin date" type="text">
                </div>
                <div class="field">
                    <label>End date</label>
                    <input id="endDateInput" placeholder="End date" type="text">
                </div>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea></textarea>
            </div>
            <div class="ui submit button green" onclick="Canvas.PanelManager.handleImportPanelInput()">Create timeline!</div>
        </div>
        @*<ul>
            <li>
                Title: <input type="text" id="titleInput" value="Enter title.." required />
            </li>
            <li>
                <br />
            </li>
            <li>
                Start date: <input type="number" id="startDateInput" value="0" required />
            </li>
            <li>
                <br />
            </li>
            <li>
                End date: <input type="number" id="endDateInput" value="2015" required />
            </li>
            <li>
                <br />
            </li>
            <li>
                <button onclick="Canvas.PanelManager.handleImportPanelInput()">Submit</button>
            </li>
        </ul>*@
        <div id="importOutput">

        </div>
    </div>
    <div id="canvasContainer">
        <canvas id="canvas"></canvas>
        @*<div id="loader">
                <img id="loaderGif" src="Resources/loader.gif" />
            </div>*@
        <div id="loader" class="">
            <div class="ui active dimmer">
                <div class="ui medium text loader">Loading timeline</div>
            </div>
            <p></p>
            <p></p>
        </div>
    </div>
    @Scripts.Render("~/bundles/js/canvas")
    @Styles.Render("~/bundles/css")
</body>
</html>
