@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>ChronoZoom</title>
</head>
<body>
    <div id="canvasContainer">
        <canvas id="element"></canvas>
    </div>
    @Scripts.Render("~/bundles/js/canvas")
    @Styles.Render("~/bundles/css")
</body>
</html>
