html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
#canvasContainer {
    width: 100%;
    height: 100%;
}
canvas {
    background: url('../Resources/Space.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}
#breadcrumbs {
    position: absolute;
    top: 50px;
    padding: 5px;
}
#breadcrumbs, #breadcrumbs a {
    color: gold;
    text-decoration: none;
}
#breadcrumbs a:hover {
    color: yellow;
    cursor: pointer;
    text-decoration: underline;
}